# Archivos temporales de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.spec

# Entornos virtuales
.venv/
env/
venv/

# Archivos de logs o cache
*.log
*.tmp
*.bak

# Archivos de configuración de VS Code
.vscode/
.idea/

# Archivos del sistema (Windows, macOS)
Thumbs.db
.DS_Store
